{
    "provider_tokens": {
        "github": {
            "token": "your-token-here",
            "host": "github.com",
            "user_id": "your-email@here.com"
        }
    },
    "custom_secrets": {}
}